@font-face {
  font-family: MorrisonsAgenda;
  font-weight: normal;
  src: url(Versions/v1.1/MorrisonsAgendaLight.woff);
}

@font-face {
  font-family: MorrisonsAgenda;
  font-weight: 600;
  src: url(Versions/v1.1/MorrisonsAgendaMedium.woff);
}

@font-face {
  font-family: MorrisonsAgenda;
  font-weight: bold;
  src: url(Versions/v1.1/MorrisonsAgendaSemibold.woff);
}
